<section id="main">
  <div class="wrapper">
    <h2>WRITERS</h2>
    <% @users.each do |user| %>
      <h3>
        <%= link_to(user.name.upcase, user_path(user.id)) %> 
        | <%= link_to(user.posts.count.to_s + " Post".pluralize(user.posts.count).upcase, user_path(user.id)) %>
        <% if current_user && current_user.id == user.id %>
          | <%= link_to("EDIT", edit_user_path(user.id)) %> 
          | <%= link_to("DELETE", user_path(user.id), method: :delete, data: {confirm: 'Are you sure?'}) %>
        <% end %>
      </h3>
    <% end %>
  </div>
</section>