<section id="main">
  <div class="wrapper">
    <h2><%= @user.name.upcase %></h2>
    <% @user.posts.each do |post| %>
      <div class="wrapper">
        <%= render "posts", post: post %>
      </div>
    <% end %>
  </div>
</section>