<section id="main">
  <% if @posts.length == 0 %>
    <p>No posts yet.</p>
  <% end %>
  <% @posts.each do |post| %>
    <div class="wrapper">
      <%= render "posts", post: post %>
    </div>
  <% end %>
</section>